<template>
  <div>
    <h1>Blog content</h1>
            <article :key="post.id" v-for="post in posts">
              <p>{{post.content}}</p>
              <hr>
            </article>
  </div>
</template>
<script>
export default {
  name: "Blog",
  data() {
    return {
      posts: [
        { id: 1, content: "the first post" },
        { id: 2, content: "the first post" },
        { id: 3, content: "the first post" }
      ]
    };
  }
};
</script>
