<template>
  <v-app>
    <v-content>
      <v-container>
        <v-layout>
          <article>
            <h1>HOME</h1>
            <hr>
            <Content/>
          </article>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
