<template>
  <v-app>
    <v-toolbar app fixed>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{this.$siteTitle}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app fixed>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="https://media.licdn.com/dms/image/C5603AQFwnGM__h-Nvw/profile-displayphoto-shrink_100_100/0?e=1556150400&v=beta&t=C96uFH8Kh2x6DKVQde_ohr-WBwkAL20NHo4IZt_dE1s">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>Josiah Phipps</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item.title">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <Content/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "Layout",
  data() {
    return {
      drawer: false,
      items: [
        { title: "Home", icon: "dashboard", link: "/home" },
        { title: "About", icon: "question_answer" }
      ]
    };
  }
};
</script>